/*Notensammler-Crousel*/
div.c-wrapper{
    width: 90%; /* for example */
    margin: auto;
    padding-bottom: 30px;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img{
/*width: 100%; /* use this, or not */
margin: auto;
}

.carousel-caption {
  padding: 0px;
  height: 170px;
  background-color: #b00;
  opacity: 0.7;

}
